# Dependency installs
**/node_modules

# Build outputs
**/dist
**/build
**/.next

# Python virtual environment
.venv

# Vite / local env files
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local

# Logs and reports
**/*.log
logs
coverage
newman

# OS / editor files
.DS_Store
**/.DS_Store
.vscode
.idea

# Git metadata
.git
.gitignore
