PORT=3101
COLLECTION_PATH=../collections
ENVIRONMENT_PATH=../environments
POSTMAN_PATH=../../postman
RUNNING_IN_DOCKER=false

API_TESTER_DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
API_TESTER_DB_SSL=true

CLERK_SECRET_KEY=
