PORT=3101
COLLECTION_PATH=../collections
ENVIRONMENT_PATH=../environments
POSTMAN_PATH=../../postman
RUNNING_IN_DOCKER=false

API_TESTER_DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
API_TESTER_DB_SSL=true
API_TESTER_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
API_TESTER_MAX_SCHEMA_JSON_BYTES=262144
API_TESTER_MAX_REQUEST_BYTES=5242880
API_TESTER_RATE_LIMIT_ENABLED=true
API_TESTER_RATE_LIMIT_STORAGE_URI=memory://
API_TESTER_RATE_LIMIT_DEFAULT=300 per hour
API_TESTER_RATE_LIMIT_IMPORT=30 per minute
API_TESTER_RATE_LIMIT_SCHEMA_WRITE=30 per minute
API_TESTER_RATE_LIMIT_CREDENTIAL_WRITE=30 per minute
API_TESTER_RATE_LIMIT_ANALYZE=60 per minute
API_TESTER_RATE_LIMIT_RUN_TEST=20 per minute
API_TESTER_ALLOW_GUEST_USER=false

CLERK_SECRET_KEY=
